ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

div {
	display: block;
	clear: both;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 500;
    color: #563d7c;
}

.navbar {
    display: block;
}

.navbar>li {
    float: left;
    padding: 0 4px;
}

.navbar>li:last-child:after {
	content: " ";
	display: block;
    clear: both;
}

.navbar > li.active {
    background-color: #f9f9f9;
}

.staticTop {
    margin-bottom: 0;
    background-color: #fff;
    height: 40px;
    border-bottom: 1px solid #ccc;
}
